<html>
    <head>
        <title>{{ title }} Welcome!</title>
    </head>
    <body>
        <h1>Hello {{ user.name }}!</h1>
        <p>Congrats on reaching {{ user.grade }}th grade!</p>
        <a href="/secret">Click here to view the secret page</a>
        <form method="post" action="/sendBreakfast">
            <label for="nickname">What's your nickname?</label>
            <input type='text' name='nickname'>
            <label for="breakfast">What did you have for breakfast?</label>
            <input type='text' name='breakfast'>
            <input type='submit'>
        </form>
    </body>
</html>